body {
  background: #333;
}

.logo {
  background: #002140;
  padding: 16px;
  color: #ddd;
  text-align: center;
  font-size: 1.5rem;
}

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  margin: 0;
  padding: 0;
}

.login-screen h1 {
  color: #eee;
  text-shadow: 2px 2px 0 #00000080;
  font-size: 3rem;
}

.login-screen ul {
  list-style: none;
}
